
body {
  margin: 0;
  padding: 0;
}

#logo-group:hover > #ring {
  animation: ring 5s linear infinite reverse;
  transform-origin: center;
  transform-box: fill-box;
  
}

@keyframes ring {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  
  }
  
}


header {
display: flex;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
} 

.nav-bar h2 {
  padding: 0px 20px;
  
}

a {
  text-decoration: none;
}